<%
getRowDetails = function (data, attribute, type) {
    var htmlContent = "";
    var deletePropertyType = type, id;
    if (type == 'list_property') {
        deletePropertyType = "property";
        id = "list_property_id";
    } else if (type == 'rent') {
        id = "rent_id";
    } else if (type == 'projects') {
        id = "project_id";
    }
    for (var i = 0; i < data.length; i++) {
        if (attribute == 'photo' || attribute == 'photos' || attribute == 'project_photo') {
            htmlContent += '<td><div class="show-image">' +
                    '<img alt="property" src=' + base_url + 'uploads/' + type + '/' + (data[i][attribute] || "no-photo.jpg") + ' style="height: 200px;width: 300px">' +
                    '<a href=' + base_url + 'home/delete_compare/' + deletePropertyType + '/' + data[i][id] + ' onclick="return confirm(\'Are You Sure Want to Remove From Compare List ?\')">' +
                    '<img alt="" class="delete" src=' + base_url + 'images/delete.png' + '></a></div></td>'
        } else {
            var value = (data[i][attribute] || 'Data not available');
            if (["launch_date", "possession_date"].includes(attribute)) {
                value = getDate(data[i][attribute]);
            }
            htmlContent += "<td>" + value + "</td>"
        }
    }
    return htmlContent
}
getDate = function (date) {
    if (date) {
        var dateVariable = new Date(date);
        return dateVariable.getDate() + '/' + (dateVariable.getMonth() + 1) + '/' + dateVariable.getFullYear()
    } else {
        return 'Date not available'
    }
}
%>