.type-rent {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  height: 259px;

  .image-container {
    padding-left: 0px !important;

    .image {
      height: 259px;
      width: 100%;
    }
  }

  .property-info {
    padding: 10px 0px 10px 0px;

    hr {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
  }

  .property-amenities {
    background: transparent;
    span {
      background: rgba(171, 0, 0, 0.02);
    }
  }
}