<img src="https://ci5.googleusercontent.com/proxy/PR3UI0MtFEhqvg-fv5HZ2zoKGidiGXf2k3u1ghs9LtJjjA45AdrqFpk99bXuiSW4NTNCdnQ0yhQgKqHeBpQYeuSJsqj1kIiZQRlmomwWWqP1NY6LV9CUSgpXHdU42J0VTL0fKPO_NOT4tc6Y5-e3BUYEThV7ioJ5k2bWoMUCNNPZBJsbArAMenaTHl3jaFoZuXQ2znhDcqGJcipD99cpvGC4kp80idVDuqHzwHUzwW6m9_OgJBSG3xgkHUb7-XKxd5qB0HZ-B-FFGD3T0ZVpCYcXEXEcCMvJDHS2V_xT5ql4qas6quUhBikwblu5QRKWTqxG9Xo57lPAGH6JvU4mUpdF=s0-d-e1-ft#http://mmm.99acres.com/masscomm.php/mmm/openCount?mailerId=58376&amp;email=spaces4all3@gmail.com&amp;subjectId=0&amp;profileid=MTU2NTY4MDc1N3wyMDA0MjY0MQ==&amp;res_com=R&amp;xid=894&amp;property_type=&amp;preference=B,R,L,P&amp;min_price=2500000&amp;max_price=7500000&amp;city=,"
    width="0" height="0" vspace="0" hspace="0" class="CToWUd">
<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ebebeb" align="center"
    style="max-width:600px;min-width:300px">
    <tbody>
        <tr>
            <td width="600" style="padding:5px 0px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td
                                style="text-align:left;padding:0px 0px 0px 10px;line-height:16px;font-family:Arial,Helvetica,sans-serif;font-size:9px;color:#000000">
                                Powered by <a
                                    style="color:#1585c7;text-decoration:none;font-size:14px;font-family:Calibri,Arial;font-weight:bold;vertical-align:top"
                                    href="http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url=https%3A%2F%2F99acres.com%3Futm_source%3Dclient_mailer%26utm_medium%3Demail%26utm_campaign%3Dnull%26utm_term%3D2019-08-13%26utm_content%3D99acres&amp;email=spaces4all3@gmail.com&amp;mailerId=58376"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url%3Dhttps%253A%252F%252F99acres.com%253Futm_source%253Dclient_mailer%2526utm_medium%253Demail%2526utm_campaign%253Dnull%2526utm_term%253D2019-08-13%2526utm_content%253D99acres%26email%3Dspaces4all3@gmail.com%26mailerId%3D58376&amp;source=gmail&amp;ust=1566193301632000&amp;usg=AFQjCNHjl-bMngJ-Jqenaz1936k3Y-HP7A">Spaces4all.com</a>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#1981c3"
    style="max-width:700px;border:1px solid #cccccc;min-width:320px">
    <tbody>
        <tr>
            <td width="700">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#308dc9"
                                    style="background-image:url(https://ci4.googleusercontent.com/proxy/0KyfbZMz5xFQBY7rWkof8hFjYiX-ZL0S3L8rNf9_BICrKlsGbEnJyAlNA9ejU2yiJ1QLk6SlkJG9msqJm-SFBza6rNP7wsV6oVV1RU_XQ6zEYn9uOQ=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-3.jpg);background-repeat:no-repeat;background-position:bottom">
                                    <tbody>
                                        <tr>
                                            <td width="30"></td>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="https://ci5.googleusercontent.com/proxy/BjiIFtFKC5QUXZd8L8tH7dOtnTjR1YDlDcSdAZacscB06HA8Toihkzmoc7RkMThD-hAS2nBR_JggvVQoTyfpX5dbYoXTQ_QpxivIoJH9frgtIRBAUw=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-4.png"
                                                                    alt="99acres"
                                                                    style="font-family:Calibri;font-size:27px;color:#ffffff;font-weight:bold"
                                                                    class="CToWUd"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="40"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"><span style="width:100%"><img
                                                                        src="https://ci5.googleusercontent.com/proxy/4vrpYCnAz-Do8Qqpjr_ICMJzZ9_WKM_iNevBpDBoIR1OU0URPZOl945wRGpK9ltmBG1SHVmRH77AN__29pl6CH1zb3xT-gi-gR3YEX8TqKBfsPA7IUHJAQ=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-4_01.png"
                                                                        alt="Interested to Sell/Buy/Rent your property?"
                                                                        style="max-width:434px;width:inherit;font-family:Impact,Haettenschweiler,'Franklin Gothic Bold','Arial Black','sans-serif';font-size:25px;color:#ffffff;line-height:35px;text-align:center;text-transform:uppercase"
                                                                        class="CToWUd"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"><span style="width:100%"><img
                                                                        src="https://ci4.googleusercontent.com/proxy/QTgeYzrlDMsQcybtgbmJ4vVRb0RtTS3cDjEFsMKalAjFqM5vTPEnFnqCUJ2SfoZcDYSxi2eYq2oxu87_E3RgNVrFToJgFSFn2nTYW8wdAO14islzfCyqhg=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-4_02.png"
                                                                        alt="We can help you"
                                                                        style="max-width:434px;width:inherit;font-family:Calibri;font-size:25px;color:#ffffff;line-height:35px;text-align:center;text-transform:uppercase"
                                                                        class="CToWUd"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table width="176" border="0" align="center"
                                                                    cellpadding="0" cellspacing="0"
                                                                    style="display:inline-table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="8"></td>
                                                                            <td><a href="http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url=https%3A%2F%2F99acres.com%2Fdo%2FsaveFormMailerResponse%2FsaveResponse%3FMMM%3DNjA4NDUwfDIwMDQ1MTEwMHwxNTY1NjgzMjI2MHxjNTFlNzUzM2E4MjMyYjI5ODg3OTA3ZGZiNGU1MWU1Mg%3D%3D%26template_type%3Dpm%26utm_source%3Dclient_mailer%26utm_medium%3Demail%26utm_campaign%3Dnull%26utm_term%3D2019-08-13%26utm_content%3DInterested&amp;email=spaces4all3@gmail.com&amp;mailerId=58376"
                                                                                    style="border:0 none;display:block;text-decoration:none;font-family:Tahoma,Geneva,sans-serif;font-size:16px;color:#fff71e;font-weight:bold"
                                                                                    target="_blank"
                                                                                    data-saferedirecturl="https://www.google.com/url?q=http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url%3Dhttps%253A%252F%252F99acres.com%252Fdo%252FsaveFormMailerResponse%252FsaveResponse%253FMMM%253DNjA4NDUwfDIwMDQ1MTEwMHwxNTY1NjgzMjI2MHxjNTFlNzUzM2E4MjMyYjI5ODg3OTA3ZGZiNGU1MWU1Mg%253D%253D%2526template_type%253Dpm%2526utm_source%253Dclient_mailer%2526utm_medium%253Demail%2526utm_campaign%253Dnull%2526utm_term%253D2019-08-13%2526utm_content%253DInterested%26email%3Dspaces4all3@gmail.com%26mailerId%3D58376&amp;source=gmail&amp;ust=1566193301632000&amp;usg=AFQjCNFAB93wc0wVjjPaYMPv8a6bRbt1HA"><img
                                                                                        src="https://ci6.googleusercontent.com/proxy/OcVdlTm0fLHnmvu6wIwb5wyBejcaAEKTcdM7hvja-3U7t66xyZEEC4bR4_YyidSdv66kR1mwqKS9yIS7_eR30taBBwjslf00-M7m9N-Ch-4_bStG3w=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-1.gif"
                                                                                        alt="I am Interested"
                                                                                        class="CToWUd"></a></td>
                                                                            <td width="8"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="8"></td>
                                                                            <td height="10"></td>
                                                                            <td width="8"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="196" border="0" align="center"
                                                                    cellpadding="0" cellspacing="0"
                                                                    style="display:inline-table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="8"></td>
                                                                            <td><a href="https://wa.me/919848150503"
                                                                                    style="border:0;text-decoration:none"
                                                                                    target="_blank"
                                                                                    data-saferedirecturl="https://www.google.com/url?q=http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url%3Dhttps%253A%252F%252Fwa.me%252F919910007626%26email%3Dspaces4all3@gmail.com%26mailerId%3D58376&amp;source=gmail&amp;ust=1566193301633000&amp;usg=AFQjCNHLWqJAzN4ZaaF5KEwbN4iFW_M4-A"><img
                                                                                        src="https://ci3.googleusercontent.com/proxy/sGQJj7W_NfUwgVIlEHUy68_b40HSMOulvIUQJAZopsyhuyNsOelHNlF4QSuL4OnC7oaZDkxCAWvLc6RAL_UqLL6t3OJ78aoVG30FXFTEOfa7bNzZ5g=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-2.gif"
                                                                                        alt="Chat on WhatsApp"
                                                                                        style="font-family:Calibri;font-size:18px;color:#ffffff"
                                                                                        class="CToWUd"></a></td>
                                                                            <td width="8"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="8"></td>
                                                                            <td height="10"></td>
                                                                            <td width="8"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top"></td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                    <tbody>
                                        <tr>
                                            <td width="29"></td>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"
                                                                style="font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif';font-size:24px;color:#000000;font-weight:lighter;font-style:italic">
                                                                Upgrade Your Listing and Connect with Genuine Buyers
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="2">
                                                                <table width="70%" border="0" align="center"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="1" bgcolor="#d9d9d9"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="4">
                                                                <table width="70%" border="0" align="center"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="1" bgcolor="#d9d9d9"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="320" border="0" align="left"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="5"></td>
                                                                            <td>
                                                                                <table width="100%" border="0"
                                                                                    cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="50"><img
                                                                                                    src="https://ci3.googleusercontent.com/proxy/7kKkHpuF5_8hNhVN7ovh0iDiyi5kQJLCDUAhSPO0rfIAy-ziwRFuMosRzRGtxqAJ-v5-RZMbTtDfqc13QeTT4kDW1FODUCJhm77M5d7CLOl_6RpK5aU=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-12.gif"
                                                                                                    alt="" hspace="0"
                                                                                                    vspace="0"
                                                                                                    border="0"
                                                                                                    class="CToWUd">
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121;line-height:19px">
                                                                                                <strong
                                                                                                    style="font-size:16px;color:#0d6ead;font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif'">Exclusive
                                                                                                    Relationship
                                                                                                    Manager</strong><br>
                                                                                                Negotiates &amp;
                                                                                                Filters out Genuine
                                                                                                leads for you</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="20"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="https://ci3.googleusercontent.com/proxy/F6FajHZYC4G8meFmHbW9efKQe4pcRUVMl3_ifl4LGYmlYavfdcWZtTmLI0Ecgbh_DEpN6R6ec1R2a-z9ut8Z6mNa-JNgRQIEo_OegUw2LUBEykUOeCQ=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-11.gif"
                                                                                                    alt="" hspace="0"
                                                                                                    vspace="0"
                                                                                                    border="0"
                                                                                                    class="CToWUd">
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121;line-height:19px">
                                                                                                <strong
                                                                                                    style="font-size:16px;color:#0d6ead;font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif'">Onsite
                                                                                                    Photo &amp;
                                                                                                    Video
                                                                                                    Shoot*</strong><br>
                                                                                                Change how Users
                                                                                                perceive your
                                                                                                Property</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="20"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="10"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="320" border="0" align="left"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="5"></td>
                                                                            <td>
                                                                                <table width="100%" border="0"
                                                                                    cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td><img src="https://ci3.googleusercontent.com/proxy/V0PzBNVxGCx6mgMfMZ8Y1CYvCLhcOGC61gMF7PWqOIiwfz_OTvA--vjc8G9Pt1oBtcTm5Wvr1SSg9Za0bLMBMLzpkPUgYKL7tkfe-VIGqXHdOUwRgg=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-7.gif"
                                                                                                    alt="" hspace="0"
                                                                                                    vspace="0"
                                                                                                    border="0"
                                                                                                    class="CToWUd">
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121;line-height:19px">
                                                                                                <strong
                                                                                                    style="font-size:16px;color:#0d6ead;font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif'">Preferential
                                                                                                    Search
                                                                                                    Visibility</strong><br>
                                                                                                Preferential
                                                                                                visibility in search
                                                                                                results</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="35"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><img src="https://ci3.googleusercontent.com/proxy/Bszg0cfPzOiJMCRHBNEtsUZoQn95f2tx2tZuHr8oueFEvjxcMlZLvU1hF1e1hnp01ZSDirLJ9Sg1XAMCGdLRlq6AMGa6qWIyhKpulWymuvYQvPnGeQ=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-6.gif"
                                                                                                    alt="" hspace="0"
                                                                                                    vspace="0"
                                                                                                    border="0"
                                                                                                    class="CToWUd">
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121;line-height:19px">
                                                                                                <strong
                                                                                                    style="font-size:16px;color:#0d6ead;font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif'">Search
                                                                                                    page
                                                                                                    banner</strong><br>
                                                                                                Locality-based
                                                                                                top-positioned
                                                                                                banner FREE </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="20"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td width="10"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" align="left"
                                                                    cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="5"></td>
                                                                            <td>
                                                                                <table width="300" border="0"
                                                                                    align="left" cellpadding="0"
                                                                                    cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="50"><img
                                                                                                    src="https://ci5.googleusercontent.com/proxy/nbiY2UyolWYZtbgKslR5Mmhc3M-UbxT9Im8hgV_qlI-rsowawRzufNqmtM_ifkvpmra-Lj-VA446eZ38KTuR8xkfecXWXX3ZS6yjpMaN0ik3StQWhg=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-9.gif"
                                                                                                    alt="" hspace="0"
                                                                                                    vspace="0"
                                                                                                    border="0"
                                                                                                    class="CToWUd">
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121;line-height:19px">
                                                                                                <strong
                                                                                                    style="font-size:16px;color:#0d6ead;font-family:Cambria,'Hoefler Text','Liberation Serif',Times,'Times New Roman','serif'">Protection
                                                                                                    of your
                                                                                                    privacy</strong><br>
                                                                                                Ensuring your
                                                                                                contact details
                                                                                                are<br>
                                                                                                not visible on
                                                                                                99acres</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="20"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table width="300" border="0"
                                                                                    align="left" cellpadding="0"
                                                                                    cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="25"></td>
                                                                                            <td align="center"
                                                                                                width="180" valign="top"
                                                                                                style="font-family:Calibri;font-size:14px;color:#212121">
                                                                                                <a href="https://wa.me/9848150503"
                                                                                                    style="border:0;text-decoration:none"
                                                                                                    target="_blank"
                                                                                                    data-saferedirecturl="https://www.google.com/url?q=http://mmm.99acres.com/masscomm.php/mmm/redirectUrl?url%3Dhttps%253A%252F%252Fwa.me%252F919910007626%26email%3Dspaces4all3@gmail.com%26mailerId%3D58376&amp;source=gmail&amp;ust=1566193301633000&amp;usg=AFQjCNHLWqJAzN4ZaaF5KEwbN4iFW_M4-A"><img
                                                                                                        src="https://ci3.googleusercontent.com/proxy/sGQJj7W_NfUwgVIlEHUy68_b40HSMOulvIUQJAZopsyhuyNsOelHNlF4QSuL4OnC7oaZDkxCAWvLc6RAL_UqLL6t3OJ78aoVG30FXFTEOfa7bNzZ5g=s0-d-e1-ft#https://www.99acres.com/mailers/images/owner-assist-23july19-2.gif"
                                                                                                        alt="Chat on WhatsApp"
                                                                                                        style="font-family:Calibri;font-size:18px;color:#189d0e;text-align:center;font-weight:bold"
                                                                                                        class="CToWUd"></a>
                                                                                            </td>
                                                                                            <td width="60"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td height="20"></td>
                                                                                            <td width="105"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="29"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>