$gray:#666;
$lightGray: #e6e6e6;
$gray67: #ababab;
$silver:#ccc;
$darkBlue:#2E4053;
$white: white;
$primaryBGColor: #f7f7f7;
$black:black;
$tealBlue:#0a5384;
$borderColor: #888;
$secondaryBorderColor: #ddd;
$transparent: transparent;
$red: #AB0000;
$projectHeaderBGColor: #f4f4f4;
$subHeadingBorderColor: #a3a3a3;
$floorPlanHeaderColor: #0a5384;
$stripedTableBG1: #f5f5f5;
$stripedTableBG2: #e0e0e0;
$lightBlack:rgba(0, 0, 0, 0.8);