<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css">
    <script src="https://kit.fontawesome.com/de79221ca3.js"></script>
    <style>
        .ta-center {
            text-align: center;
        }

        .p-10 {
            padding: 10px 0px 10px 0px;
        }

        .pb-5 {
            padding-bottom: 5px;
        }

        .pb-3 {
            padding-bottom: 3px;
        }

        .heading-container {
            font-size: 20px;
            background-color: #732BDC;
            color: white;
            text-transform: uppercase;
        }

        .heading-container .heading {
            font-weight: 500;
        }

        .image {
            height: 400px;
            width: 100%;
        }

        .details {
            background-color: #d3d3d3;
            font-size: 20px;
        }

        hr {
            margin: 0px !important;
            border: 0.5px solid black;
        }

        .amenity {
            width: 24%;
            margin-bottom: 10px;
            /* float: left; */
            display: inline-block;
        }

        .amenity i {
            font-size: 20px;
        }

        .amenity_name {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 10px;
        }

        .disclaimer {
            padding-left: 30px;
            padding-right: 30px;
            text-align: justify;
            text-justify: inter-word;
        }
        .disclaimer a {
            text-decoration: none;
            color: black;
        }

        .disclaimer a:hover {
            color: black;
            cursor: pointer;
        }

        .sub-heading {}

        .hightlights-content {}
    </style>
</head>

<body style="margin-left: 30%;margin-top: 40px;">
<table style="border:1px solid black;border-spacing: 0px !important;" width="600">
    <tbody>
    <tr>
        <td>
            <div class="ta-center" style="height: 25px;padding-top: 5px;">Welcome</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="heading-container ta-center p-10">
                <div class="heading pb-3">WElcome Welcome123123</div>
                <div class="location">Welcome123123</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src="./59030.jpg" class="image" />
        </td>
    </tr>
    <tr>
        <td>
            <div class="details p-10">
                <div class="ta-center pb-3">4 BHK Villa</div>
                <div class="ta-center pb-3">Starting @ 1.8 Cr</div>
                <div class="ta-center pb-3">Saleable Area : area sqft - area sqft</div>
                <div class="ta-center pb-3">RERA ID : P02400000344</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="ta-center p-10">
                <a class="btn btn-info btn-lg"
                   style="background-color: #732BDC !important;border-color: #732BDC !important;">I'm
                    Interested</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
            <div class="sub-heading ta-center">
                <h4>Property Hightlights</h4>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="hightlights-content ta-center p-10">
                Welcome121212<br />
                Welcome121212<br />
                Welcome121212<br />
                Welcome121212<br />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
            <div class="sub-heading ta-center">
                <h4>Amenities</h4>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="amenities-container">
                <div class="amenity ta-center">
                    <i class="fa fa-trash"></i>
                    <span class="amenity_name"> Welcome </span>
                </div>
                <div class="amenity ta-center">
                    <i class="fa fa-trash"></i>
                    <span class="amenity_name"> Welcome </span>
                </div>
                <div class="amenity ta-center">
                    <i class="fa fa-trash"></i>
                    <span class="amenity_name"> Welcome </span>
                </div>
                <div class="amenity ta-center">
                    <i class="fa fa-trash"></i>
                    <span class="amenity_name"> Welcome </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
            <div class="p-10">
                <div class="ta-center pb-5">Disclaimer:</div>
                <div class="disclaimer">
                    <a>
                        All the information displayed is as posted by the User and displayed on
                        the website for informational purposes only. Spaces4all makes no representations and
                        warranties of any kind, ... more.
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<br>
</div>
</body>

</html>