<html>
<head>
    <style>
        .ta-center {
            text-align: center;
        }

        .heading-container {
            font-size: 20px;
            background-color: #732BDC;
            color: white;
            text-transform: uppercase;
            padding: 10px 0px 10px 0px;
        }

        .heading-container .heading {
            font-weight: bold;
            padding-bottom: 5px;
        }

        .image {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<table style="border:1px solid black;border-spacing: 0px !important;" width="600">
    <tbody>
    <tr>
        <td>
            <div class="ta-center" style="height: 25px;padding-top: 5px;">Welcome</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="heading-container ta-center">
                <div class="heading">WElcome</div>
                <div class="location">Welcome123123</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src="localhost/59030.jpg" class="image"/>
        </td>
    </tr>
    </tbody>
</table>
<br>
</div>
</body>
</html>

