<table width="600" border="0" cellspacing="0" cellpadding="0" style="border:1px solid grey">
    <tbody>
        <tr>
            <td
                style="background-image:url(https://ci4.googleusercontent.com/proxy/VhuAjuhnjgv_8FPRb0G9cGNTvKM_zNq854S0Gw1e1ngyailQkSkkpI6OXQK-Jc1weUwxGStFQd8LQ20Peui3Me2vdTRuOH3K9Ks_BIkzeF-yieM=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/newsbg2.png);height:200px;background-size:cover">
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding-top:15px;padding-left:15px" align="left"> <img style="width:250px"
                                    src="https://ci6.googleusercontent.com/proxy/dQ6jlw15ICHBoGRS16in3EE4K3n3riWkaFgnj1_PKqI-hpDmak-Ha8XP8AOTymzbp7-RONuG3iiCFmeOL0lNuE0p1Fc7JCWRF82rvGc1Y7k=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/hl-w.png"
                                    class="CToWUd">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:15px;padding-left:15px;padding-right:15px;padding-top:45px">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font:24px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:300;color:#fff">
                                                Smartly Planned Homes in Hyderabad</td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="font:24px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:300;color:#fff">
                                                Starting <span style="color:#ffdc00;font-size:30;font-weight:500">₹ 1
                                                    Cr</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div
                    style="background-image:url(https://ci5.googleusercontent.com/proxy/QZ3DIno0Soux6nGJmFiYVFFk0zUGN3pTSKF5PMnoVbyzR2T0M_T9Bk2J2XejCEftAX0hb6O1XW2JLC9HZXVuAim6huvnWsinsGi4YBDvIayCow4=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/cardbg3.png);background-repeat:no-repeat;width:580px;height:236px;margin-left:10px;margin-top:10px">
                    <table width="555" border="0" cellspacing="0" cellpadding="0"
                        style="padding-left:32px;padding-top:14px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="555" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="width:313px">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="font:22px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:17px;overflow:hidden;text-overflow:ellipsis;width:313px;white-space:nowrap">
                                                                    Crown Whistling Woods</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:18px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';padding-top:4px">
                                                                    Manchirevula, Hyderabad</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:19px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:4px">
                                                                    3 BHK - <span
                                                                        style="font-size:20px;color:#e62878;padding-top:4px">₹
                                                                        1 Cr +</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="width:200px;padding-top:5px">
                                                                        <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVRUQ4AA0Q=&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=%0DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY&amp;&amp;c=0000"
                                                                            style="text-decoration:none" target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVRUQ4AA0Q%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D%250DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722456000&amp;usg=AFQjCNErHiMJlIyU7OGuW2Sffx4NZ2zJ8g">
                                                                            <div
                                                                                style="background-color:#7323dc;border-radius:4px;font:20px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:white;text-align:center;padding:10px">
                                                                                I'm Interested</div>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td><img src="https://ci4.googleusercontent.com/proxy/dLKhdJElFvHcDXiwfq5j4RQQw_jNhXmf4GBjKe6YOkPmmXEk7321gnt7prcQaxfQDt8IffyJU0OnxsHZlCb3Ss7vAOSXHMihhvlZhAa2Lh5VDv6hhIc2F21gZmd9UR5ZY8Ir3HHvcemyNLnPcRzc4_0tNrqWFjKMan_ks0-1RDGbuVOD7Nmpjx3Npe5C3qCkkhJFVtj1BcMo86kom6dOTYBGMJsu6hD5kbRhSXqlwjB7urbkV6spsrc5NRYMLuSIDm3hiCwRQw=s0-d-e1-ft#https://dsjely9lzf25k.cloudfront.net/4f2250e8/10e808d629206e6015c5b8132971999e/v4/_m/crown_whistling_woods-manchirevula-hyderabad-crown_constructions_and_aryamitra_properties.jpeg"
                                                        style="width:222px;height:154px" class="CToWUd a6T"
                                                        tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                        style="opacity: 0.01; left: 527.333px; top: 511.333px;">
                                                        <div id=":2uw" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                            role="button" tabindex="0" aria-label="Download attachment "
                                                            data-tooltip-class="a1V" data-tooltip="Download">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="font:18px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';padding-top:7px;color:#e62878">
                                    <b>Offer:</b> All the price are Inclusive Amenities and 1 car parking </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div
                    style="background-image:url(https://ci6.googleusercontent.com/proxy/kgPJG-kqFA8hpqFQS2UBeixmfBlcZmLTep2FN-8DAvaeG68S1DmUgKJbtc--MUOILZ1KluCzsiR44y0PlBfhz7GA3wySlzmc75XLCdaYpdt4Bw8=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/cardbg2.png);background-repeat:no-repeat;width:580px;height:236px;margin-left:10px;margin-top:10px">
                    <table width="555" border="0" cellspacing="0" cellpadding="0"
                        style="padding-left:13px;padding-top:14px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="555" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td><img src="https://ci6.googleusercontent.com/proxy/b8HYByIMeHCdAo1TH6NUmd7Yvzq1D7JQ7O3L2G7Whb0PAKIzbY_Pk_KWV7rP6GgfR59o4ug3SUzI1JDCEfbnurb88CZ-Ew8Ps6mAwJy3kWeFjBuD5mPuoscrKguOcGUQKM6fB-fU4sd7uDu4Vm9mNtqE0I1QUTf4pE9K3EqpVJINqP1kNaU0WOF-g3GKMh87cQgVUC-obCnttuY9VBL6-9G2f7X0WFfk1YXqK3oc=s0-d-e1-ft#https://dsjely9lzf25k.cloudfront.net/4f2250e8/4ea154d659d85c8f1c0c4776d2d084a4/v6/_m/muppa_alankrita-narsingi-hyderabad-muppa_projects_india_pvt._ltd..jpg"
                                                        style="width:222px;height:154px" class="CToWUd a6T"
                                                        tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                        style="opacity: 0.01; left: 196.222px; top: 756.889px;">
                                                        <div id=":2ux" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                            title="Download" role="button" tabindex="0"
                                                            aria-label="Download attachment " data-tooltip-class="a1V">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:313px">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="font:22px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:17px;width:313px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                                                                    Muppa Alankrita</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:18px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';padding-top:4px">
                                                                    Narsingi, Hyderabad</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:19px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:4px">
                                                                    3 BHK - <span
                                                                        style="font-size:20px;color:#e62878;padding-top:4px">₹
                                                                        1.08 Cr +</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="width:200px;padding-top:5px">
                                                                        <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVUWAsCD0Q=&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=%0DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY&amp;&amp;c=0000"
                                                                            style="text-decoration:none" target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVUWAsCD0Q%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D%250DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722456000&amp;usg=AFQjCNGeeSE3XdDrA12wJiFcar_-F0H_0w">
                                                                            <div
                                                                                style="background-color:#7323dc;border-radius:4px;font:20px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:white;text-align:center;padding:10px">
                                                                                I'm Interested</div>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div
                    style="background-image:url(https://ci5.googleusercontent.com/proxy/QZ3DIno0Soux6nGJmFiYVFFk0zUGN3pTSKF5PMnoVbyzR2T0M_T9Bk2J2XejCEftAX0hb6O1XW2JLC9HZXVuAim6huvnWsinsGi4YBDvIayCow4=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/cardbg3.png);background-repeat:no-repeat;width:580px;height:236px;margin-left:10px;margin-top:10px">
                    <table width="555" border="0" cellspacing="0" cellpadding="0"
                        style="padding-left:32px;padding-top:14px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="555" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="width:313px">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="font:22px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:17px;overflow:hidden;text-overflow:ellipsis;width:313px;white-space:nowrap">
                                                                    Vessella Meadows</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:18px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';padding-top:4px">
                                                                    Narsingi, Hyderabad</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:19px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:4px">
                                                                    5+, 4.5 BHK - <span
                                                                        style="font-size:20px;color:#e62878;padding-top:4px">₹
                                                                        3.38 Cr +</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="width:200px;padding-top:5px">
                                                                        <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVUWQ8DD0Q=&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=%0DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY&amp;&amp;c=0000"
                                                                            style="text-decoration:none" target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVUWQ8DD0Q%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D%250DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722457000&amp;usg=AFQjCNHuJSOHNPCc27LMw9Zua_o4I2MCfQ">
                                                                            <div
                                                                                style="background-color:#7323dc;border-radius:4px;font:20px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:white;text-align:center;padding:10px">
                                                                                I'm Interested</div>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td><img src="https://ci5.googleusercontent.com/proxy/Ss4-PnN58awXy1qy5n5aZPVTpSwFByWRRYgbAADyKXa3ac126rHuFLWApCKRMkMICk-yymcchoRLU3xVMT1Cr-VcN-SpmZaZizE0Df5f7Jd3-lnHPwA1fx2ImiRnfEz9i6RqoNrUEnRaUUpxApjcaLPM0SavDqXYS_wQUnG4TxKTQFJTcQkquteSsbewUdl4Yymqi8PBKUTJZUrBW7w7=s0-d-e1-ft#https://dsjely9lzf25k.cloudfront.net/4f2250e8/4d7635ee0e02aa301cf4b996c4e0fe24/v2/_m/vessella_meadows-narsingi-hyderabad-vessella_group.jpg"
                                                        style="width:222px;height:154px" class="CToWUd a6T"
                                                        tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                        style="opacity: 0.01; left: 527.333px; top: 1002.44px;">
                                                        <div id=":2uy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                            title="Download" role="button" tabindex="0"
                                                            aria-label="Download attachment " data-tooltip-class="a1V">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div
                    style="background-image:url(https://ci6.googleusercontent.com/proxy/kgPJG-kqFA8hpqFQS2UBeixmfBlcZmLTep2FN-8DAvaeG68S1DmUgKJbtc--MUOILZ1KluCzsiR44y0PlBfhz7GA3wySlzmc75XLCdaYpdt4Bw8=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/cardbg2.png);background-repeat:no-repeat;width:580px;height:236px;margin-left:10px;margin-top:10px">
                    <table width="555" border="0" cellspacing="0" cellpadding="0"
                        style="padding-left:13px;padding-top:14px">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="555" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td><img src="https://ci6.googleusercontent.com/proxy/36LROE8-XDPvVGZ2yZg7jTcYzv5au5_k1FFZSPReHMVxV4N2sRIRNSKU5pwkOaelS7iFUSCYGWEdd2bOll3_ceKdTom64VZo04cKER9WKcIXiXHLZyfhnuYpNM_xMfCJuolFaRSrVAzDeWC6KOt1jbPxKKc2NcCbXrkKUq1QXdAcmRvPlc2HY8o7k7HC5b0dgMJC668Pi5MsoSJkN0XjSHv-9bNRy5_U5WNcVLOSl0QuZUX7fbx4Xw=s0-d-e1-ft#https://dsjely9lzf25k.cloudfront.net/4f2250e8/2cd8ec5aecc72344f66e99cb1064243d/v5/_m/shanta_sriram_spring_valley-manikonda-hyderabad-shanta_sriram_constructions.jpg"
                                                        style="width:222px;height:154px" class="CToWUd a6T"
                                                        tabindex="0">
                                                    <div class="a6S" dir="ltr"
                                                        style="opacity: 0.01; left: 196.222px; top: 1248px;">
                                                        <div id=":2uz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                            title="Download" role="button" tabindex="0"
                                                            aria-label="Download attachment " data-tooltip-class="a1V">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:313px">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="font:22px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:17px;width:313px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">
                                                                    Shanta Sriram Spring Valley</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:18px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';padding-top:4px">
                                                                    Manikonda, Hyderabad</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font:19px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';font-weight:500;padding-top:4px">
                                                                    4 BHK - <span
                                                                        style="font-size:20px;color:#e62878;padding-top:4px">₹
                                                                        6.63 Cr +</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="width:200px;padding-top:5px">
                                                                        <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVXWA0EBkQ=&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=%0DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY&amp;&amp;c=0000"
                                                                            style="text-decoration:none" target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVXWA0EBkQ%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D%250DGhMjfyMoKhtfQ0tEVltUFgQACV54UVoEWg8fBgoJEh5DfClwKy0jG19DAAcADAZSCFlVAhoaFSN6MWIxKyV9d0MLRGELDRZYR00aZHZrYi51OEcIGgYHXQdbUEcY%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722457000&amp;usg=AFQjCNE6qEddYvXsX8vYLvVZFbpN9Pzb9w">
                                                                            <div
                                                                                style="background-color:#7323dc;border-radius:4px;font:20px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:white;text-align:center;padding:10px">
                                                                                I'm Interested</div>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table width="600" border="0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" style="margin-top:0px">
                                <p
                                    style="font-size:12px;font-family:Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';text-align:center;font-weight:600;margin-top:10px">
                                    ARE YOU READING THIS IN GMAIL?</p>
                                <img alt=""
                                    src="https://ci5.googleusercontent.com/proxy/djJ-l11KsSFYIq2IszcSftFMVbm2wGJWARWJVsla-dUA2tPfSMVl9YUG2QodW7_iIBnm4hFI-HcGTEfZNl9u4_tEfRt5pA4uHVHlTEkBi8f1jPmrYA=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/Emailer%20Gif"
                                    width="600" style="max-width:565px;height:67px" class="CToWUd">
                            </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top:0px;background-color:#fff">
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td
                                style="font:11px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:#e62878;text-align:center">
                                Disclaimer:</td>
                        </tr>
                        <tr>
                            <td
                                style="font:11px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:#000;text-align:center">
                                Housing.com (portal owned and operated by Locon Solutions Private Limited)</td>
                        </tr>
                        <tr>
                            <td
                                style="font:11px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:#000;text-align:center">
                                is only acting as a marketing partner .....<a
                                    href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVdVwEFSw==&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=0&amp;&amp;c=0000"
                                    style="font-size:12px;text-decoration:none;color:#000" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVdVwEFSw%3D%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D0%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722457000&amp;usg=AFQjCNF-bC4jST_yGklrO1StA-T3wjTGjQ">Read
                                    more</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-top:15px;background-color:#fff">
                <div style="font:8px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif'">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td
                                    style="padding-left:20px;font:11px Gotham,'Helvetica Neue',Helvetica,Arial,'sans-serif';color:#000">
                                    Download our App on
                                    <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVQWAsGSw==&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=0&amp;&amp;c=0000"
                                        style="text-decoration:none" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVQWAsGSw%3D%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D0%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722457000&amp;usg=AFQjCNGNg5OynQx0PVHsdFuM2md1a8Dx1Q"><img
                                            src="https://ci3.googleusercontent.com/proxy/w_Z9FzUEP95i0S0XTtXrZCXNwXwqzgUGYxYa3ZrE1viJN8qNWqZPDE2in6ud0EK6rIFGWOYs5wWE-9GW6ZzPDhu3D4KrInIkcANjSSBHP0jk9ynhP9A3wMHoow=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/new-google-play.png"
                                            width="56" height="18" alt="" style="vertical-align:middle" class="CToWUd">
                                    </a>
                                    <a href="http://lnk.housing.ncm18.com/gtrack?clientid=17035&amp;ul=UgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ&amp;ml=UANVClsdVkVQWAsFSw==&amp;sl=I00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ==&amp;pp=0&amp;&amp;c=0000"
                                        style="text-decoration:none" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=http://lnk.housing.ncm18.com/gtrack?clientid%3D17035%26ul%3DUgNQBFJQGggZEkhVVF1CUVENCXJfW1YMX01SCggYQ0IAUgNBVgAKVSUGVVVeVB8GXwwZ%26ml%3DUANVClsdVkVQWAsFSw%3D%3D%26sl%3DI00lTjcyGmooNURYWVMfDV8UFltWURkLUA4AXUsHX18dAQ%3D%3D%26pp%3D0%26%26c%3D0000&amp;source=gmail&amp;ust=1570765722457000&amp;usg=AFQjCNHZ8f-mkSbi4YN8Vz7aMKOxv2e5pw"><img
                                            src="https://ci4.googleusercontent.com/proxy/hMkU1qEx3-Xfr3vH07FHrTfHmGTi5PPHsYNLT_eXbyvfwnHYXWRX-A-_65uTnxWiLSt8vvTchpTpXk2IA36upch4LNtTNrelyIEyJoepXi3Y_bK-n4gCTjg=s0-d-e1-ft#https://deygmfaljut9y.cloudfront.net/email_campaigns/new-app-store.png"
                                            width="65" height="18" alt="" style="vertical-align:middle" class="CToWUd">
                                    </a>
                                </td>
                                <td align="right" style="padding-right:20px;font-size:10px;color:#000">© 2018
                                    Housing.com | All rights reserved</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="height:15px"></div>
            </td>
        </tr>
    </tbody>
</table>