<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>
</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1> FAQ's </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="block-heading" id="details">

                                    <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i
                                                class="fa fa-th-list"></i></span>Selling Property</h4>

                                </div>

                                <div class="accordion" id="toggleArea">

                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsetwo"><span class="bldtx1"> Q : </span>
                                                What is the difference between built up area, super built up area, and
                                                carpet area?<i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapsetwo" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                <span class="bldtx1"> Carpet area: </span> All the area in an apartment
                                                of building excluding the area occupied by walls. <br />

                                                <span class="bldtx1"> Built up Area: </span> Carpet area along with area
                                                occupied by walls is Built up Area. <br />

                                                <span class="bldtx1"> Super Built up Area: </span> Built up area along
                                                with common spaces like the lobby, lifts, stairs, etc., is Super Built
                                                up Area. This concept is applicable only to multi-dwelling housing
                                                complexes.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapseOne"><span class="bldtx1"> Q : </span> In
                                                whose name are the stamps required to be purchased? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                The stamps will have to be bought in the name of one of the executors to
                                                the Instrument.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsethr"><span class="bldtx1"> Q : </span>
                                                What is market value of a property. Is Stamp Duty payable on the market
                                                value or the agreement of the property?

                                                <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsethr" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                The price at which a property is put for sale in the open market is the
                                                market value.

                                                The Stamp Duty is payable on either the agreement value or the market
                                                value of the property, which ever happens to be higher.



                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsefor"><span class="bldtx1"> Q : </span>
                                                Various instruments that attract the payment of Stamp Duty? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsefor" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Stamp Duty would be payable on market value of the property in case of
                                                Instruments like Sale Agreement, Conveyance Deed, Property Exchange,
                                                Gift Deed, Partition Deed, Power of Attorney, Settlement Deed and Lease
                                                Transfer.



                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsefiv"><span class="bldtx1"> Q : </span>
                                                Appropriate authority to learn the market value of the property from? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsefiv" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                The best authority to learn about the market value of a property is the
                                                Sub-Registrar of the area in whose jurisdiction the property is located.

                                            </div>

                                        </div>

                                    </div>

                                    <br />

                                    <div class="block-heading" id="details">

                                        <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i
                                                    class="fa fa-th-list"></i></span>Buying property</h4>

                                    </div>

                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsesix"><span class="bldtx1"> Q :
                                                </span>While Buying property Important documents that require
                                                verification while purchasing a Flat ?

                                                <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsesix" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                While purchasing a property, a buyer should have the title document
                                                searched by an advocate.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsesvn"><span class="bldtx1"> Q : </span>
                                                Important documents one should check before buying any property ? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsesvn" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Before purchasing a property, a buyer should check:

                                                Approved layout plan

                                                Approved building plan

                                                Ownership documents, etc.

                                                An advocate could give you proper advise in the above matters.



                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapseegt"><span class="bldtx1"> Q : </span>
                                                Common risks involved in buying a property/ apartment/ flat on Power Of
                                                Attorney (POA) basis ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapseegt" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Buying a property on POA basis is not legal.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsenin"><span class="bldtx1"> Q : </span>
                                                Free Hold Flat ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapsenin" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                A property that is owned by sole legal owner(s), whose ownership over
                                                the property is total, unconditional and unencumbered. sdiction the
                                                property is located.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapseten"><span class="bldtx1"> Q : </span>
                                                Various documents and permissions that one should check before
                                                purchasing a flat in a building that is still under construction to
                                                ascertain genuineness of a builder ? <i class="fa fa-plus-circle"></i>
                                                <i class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapseten" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                The following are the set of documents which prove the genuineness of a
                                                builder:

                                                <ul class="unordered">

                                                    <li> Approved plan of the building along with the number of floors.
                                                    </li>

                                                    <li> Ensure that the floor, on which a buyer wishes purchase a flat,
                                                        is approved. </li>

                                                    <li> Check, with advocates assistance, the title deed to the land
                                                        and agreement document allowing the builder to construct on the
                                                        land. </li>

                                                    <li> Check the applicable building bylaws of the area and if the
                                                        builder has not violated setbacks, height, etc. </li>

                                                    <li> Check specifications given in the agreement to sell of the sale
                                                        brochure. Is he providing the same actually on the ground or
                                                        not? </li>

                                                    <li> Check the reputation of the builder. </li>

                                                    <li> Ensure whether urban land ceiling NOC (if applicable) has been
                                                        obtained or not. </li>

                                                    <li> NOC from water and electricity authorities also have to be
                                                        obtained. </li>

                                                    <li> NOC from lift authorities. </li>

                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                    <br />

                                    <div class="block-heading" id="details">

                                        <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i
                                                    class="fa fa-th-list"></i></span>Renting</h4>

                                    </div>

                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapselvn"><span class="bldtx1"> Q : </span>
                                                Maximum number of months for which a landlord can take rent as a deposit
                                                or advance ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapselvn" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                A Landlord can collect advance only for a maximum period of three
                                                months.

                                            </div>

                                        </div>

                                    </div>

                                    <br />

                                    <div class="block-heading" id="details">

                                        <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i
                                                    class="fa fa-th-list"></i></span>Home loans</h4>

                                    </div>

                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsetwlv"><span class="bldtx1"> Q :
                                                </span>How much housing loan can one get ? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsetwlv" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Housing loans depend upon the borrower's income and repayment capacity.
                                                Spouse's income could also be included, if the loan amount is to be
                                                increased. Loan amounts vary with different finance companies. The range
                                                is between Rs.10 lakh and Rs.1 crore.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsetrtn"><span class="bldtx1"> Q : </span>
                                                Tax benefits that could be availed on housing loan ? <i
                                                    class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i>
                                            </a> </div>

                                        <div id="collapsetrtn" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Both principal and interest components of the loan have tax benefits
                                                according to the income tax act.

                                                <ul class="unordered">

                                                    <li> The maximum allowed limit of the amount that can be deducted as
                                                        interest repayment from a borrower's gross total income is, at
                                                        present, Rs. 75,000 per year. </li>

                                                    <li> Besides, Sec. 88 offers tax benefits on repayment of the
                                                        principal. </li>

                                                </ul>

                                                The principal repayment amount included in the overall limit of Rs
                                                60,000 offered by this section is Rs 10,000.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsefftn"><span class="bldtx1"> Q : </span>
                                                Reducing Balance ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapsefftn" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                Reducing balance is a method by which the principal amount that has
                                                already been paid, is reduced from the outstanding loan amount. <br />

                                                Every time a borrower makes a payment, he/ she pays interest only on
                                                that part of the original principal sum that is yet to be repaid.

                                                ional and unencumbered. sdiction the property is located.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsesxtn"><span class="bldtx1"> Q : </span>
                                                Cheaper one of 'loan with monthly reducing balance' and 'loan with
                                                annually reducing balance ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapsesxtn" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                A comparison of the EMIs and the tenures of the two types of home loans
                                                will reveal the one that is cheaper and better. The loan that carries
                                                lower EMI for the same tenure is cheaper.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapsesvten"><span class="bldtx1"> Q : </span>
                                                Fixed rate home loan ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapsesvten" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                A home loan that charges constant interest rate throughout the loan
                                                tenure.

                                            </div>

                                        </div>

                                    </div>



                                    <div class="accordion-group panel">

                                        <div class="accordion-heading togglize"> <a
                                                class="accordion-toggle inactive collapsed" data-toggle="collapse"
                                                data-parent="#" href="#collapseeteen"><span class="bldtx1"> Q : </span>
                                                Floating interest rate loan ? <i class="fa fa-plus-circle"></i> <i
                                                    class="fa fa-minus-circle"></i> </a> </div>

                                        <div id="collapseeteen" class="accordion-body collapse" style="height: 0px;">

                                            <div class="accordion-inner">

                                                <h4> Answer : </h4>

                                                The borrower's payable interest rate varies along with the fluctuations
                                                in the bank rate. <br />

                                                The floating interest rates offered are slightly lower when compared to
                                                the fixed interest rates.



                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->



        <% include includes/footer.ejs %>



</body>

</html>