<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>
</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1>Glossary</h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-9 bldtx">

                                <span class="bldtx1">Abstract Of Title:</span><br>The abstract

                                of title has details of transfers, grants, wills and

                                conveyances, liens and encumbrances. Abstract of Title has the

                                list of legal actions, if any, that have taken place with regard

                                to a property and it also determines if there are any claims

                                over it. A potential buyer should certainly ask for Title

                                Abstract. <br /> <br /> <span class="bldtx1">Assessment:</span>

                                <br>The value of a property, determined by an appropriate

                                authority for taxation purposes.Bare shell Property in which,

                                bare essentials like flooring, plastered walls, kitchen and

                                toilets are complete, operational and are in usable condition.<br />

                                <br /> <span class="bldtx1">BHK: </span><br> Bedroom, Hall and A

                                Kitchen.<br /> <br /> <span class="bldtx1">Bunglow:</span><br> A

                                one-story house, cottage or cabin. Bungalows are generally small

                                in terms of square footage, but it is not uncommon to see very

                                large bungalows. Bungalows were originally designed to provide

                                affordable, modern housing for the working class.<br /> <br /> <span
                                    class="bldtx1">Builder: </span><br> Constructor/ Real Estate

                                Developer <br /> <br /> <span class="bldtx1">Built up Area: </span><br>

                                All that area which includes the carpet area and the area

                                occupied by the walls.<br /> <br /> <span class="bldtx1">Capitalization

                                    Rate:</span><br> Capitalization Rate or the Cap Rate, in

                                Realty, is an evaluation of investment. Cap Rate = Yearly income

                                (from the property)/ market value of the property (current) <br />

                                <br /> <span class="bldtx1">Carpet area:</span><br> All that

                                area inside an apartment on which, carpet can be laid.<br /> <br />

                                <span class="bldtx1">Certificate of Deposit:</span> <br>Receipt

                                of an amount deposited in a bank that pays regular interest for

                                a certain time.<br /> <br /> <span class="bldtx1">Certificate of

                                    Occupancy:</span> <br>Certificate issued by local government

                                agency confirming that a certain building has been built in



                                accordance with the applicable building codes, conforms to the

                                norms and hence suitable for "Occupancy". <br /> <br /> <span class="bldtx1">Commercial
                                    Property:</span><br>Property that is

                                used with an intention to generate profit either through capital

                                gains or rentals. <br /> <br /> <span class="bldtx1">Commercial

                                    Real Estate:</span> <br>Properties that are exclusively used

                                for commercial ends. Such properties include malls, restaurants,



                                hotels, offices, convenience stores, petrol pumps, etc. <br /> <br />

                                <span class="bldtx1">Common Areas:</span> <br>All those areas in

                                a building which can effectively be used by the owners/

                                residents of all the units/ flats in the building for which

                                maintenance fee is collected. <br /> <br /> <span class="bldtx1">Construction

                                    Mortgage:</span> <br>Money borrowed to construct a house. Money

                                is disbursed in a incremental fashion during the period of



                                construction. Only the interest is paid during the construction.

                                The loan becomes a regular mortgage as soon as the construction

                                is completed. <br /> <br /> <span class="bldtx1">Contract:</span>

                                <br>An agreement having legal object, entered into by two or

                                more parties, voluntarily to have a legal obligation and to be

                                bound by it.<br>In Realty business, a contract could be a

                                Purchase or Sale Agreement concluded between a buyer and a



                                seller. The contract has conditions that the parties will be

                                obligated to abide by once the contract is registered. <br /> <br />

                                <span class="bldtx1">Duplex:</span> <br>A residential

                                construction that is divided into two enclosures. It is one

                                house divided into two dwellings. <br /> <br /> <span class="bldtx1">Down
                                    Payment:</span> <br>Part payment made in

                                cash while buying a good or service. It is sometimes,

                                non-refundable if the buyer fails to pay the remaining amount

                                within a stipulated period. <br /> <br /> <span class="bldtx1">Efficiency

                                    ratio:</span> <br>Shows the effective carpet area as against

                                the super built up area. <br /> <br /> <span class="bldtx1">Freehold:</span>

                                <br>Absolute ownership of the property and land on which it is

                                constructed. There is no time limit on the period of ownership.

                                <br /> <br /> <span class="bldtx1">Floor Space Index (FSI):</span>

                                <br>Ratio of Total Floor area of all the floors exclusive of

                                statutory exempted areas to the Total Plot Area. <br /> <br /> <span
                                    class="bldtx1">Gunta:</span> <br>A unit of land measure<br>1

                                Gunta = 1089 Sq.ft. <br /> <br /> <span class="bldtx1">Home

                                    Mortgage or Mortgage Loan:</span> <br>Loans advanced by a

                                financial institution by placing the borrower’s property on lien

                                to buy a real property or to raise capital.<br>The lender can

                                sell off the secured property to pay off the borrower’s loan if

                                the borrower defaults on the loan or the ensuing conditions.<br>Interest

                                on such loans can either be fixed or floating.<br>Principal

                                along with interest is paid back in installments which are

                                either equal or progressively reducing. <br /> <br /> <span
                                    class="bldtx1">Mortgage:</span> <br>Mortgage is a method by

                                which a property is used by its owner as a guarantee to get

                                money from a financial institution. Mortgages are otherwise also

                                known as “liens against property”. Mortgage is basically an

                                agreement between two parties, the Debtor (owner of a property)

                                and the Creditor (on who advances a loan). <br /> <br /> <span
                                    class="bldtx1">Landlord:</span> <br>A person or organization

                                who owns real estate property like a room, building, a dwelling

                                unit or a piece of land and leases it away to someone else to

                                use for rent.<br>A female landlord may be referred to as a

                                "landlady." <br /> <br /> <span class="bldtx1">Lease:</span> <br>A

                                contractual arrangement, obligating the Lessee (user) to pay the

                                Lessor (owner), a certain amount of money for using a Lessor’s

                                property for a specific period of time. <br /> <br /> <span class="bldtx1">Lease
                                    agreement:</span> <br>A contract between

                                two persons, the Lessee (user) and the Lessor (owner) wherein,

                                the Lessee pays rent or lease to use the Lessor’s property,

                                weather tangible or intangible, for a specific period of time. <br />

                                <br /> <span class="bldtx1">Leasehold:</span> <br>A method by

                                which a property (usually an apartment flat) is owned for a

                                fixed term. Ownership of the land is not conceded. Hold over the

                                property depends on the timely payment of rent or lease amount.



                                Ownership of the property returns to the landlord on the expiry

                                of the lease period. <br /> <br /> <span class="bldtx1">Lessee:</span>

                                <br>The person who uses the Lessor’s property under a contract

                                that legally obligates him/ her to pay rent/ lease for such use,

                                for a specific period of time and also abide by such rules that

                                are agreed to. <br /> <br /> <span class="bldtx1">Lessor:</span>

                                <br>Person or the owner of a property, who allows the use of

                                his/ her property by entering into a legal contract with another

                                person for a specific period of time in return for rent. <br />

                                <br /> <span class="bldtx1">Maintenance charges:</span> <br>Charges

                                collected by the House Owners Association/ Society for the

                                maintenance of security, aesthetics, sanitation and day to day

                                upkeep of the building. <br /> <br /> <span class="bldtx1">Market

                                    value:</span> <br>The price or value, a certain property

                                commands in the market <br /> <br /> <span class="bldtx1">No

                                    Objection Certificate or NOC :</span> <br>Certificate that the

                                concerned Government authorities issue to say that they have "No

                                Objection" because, the building plans are proper and in

                                accordance with the Statutory rules and guidelines. <br /> <br />

                                <span class="bldtx1">Notary:</span> <br>A lawyer or a trained

                                person who holds a government license to:<br> <br>

                                &nbsp;&nbsp;&nbsp;-> witness signatures on legal documents<br>

                                &nbsp;&nbsp;&nbsp;-> administer and take oaths and affirmations.

                                <br> <br> Notary Public specializes in notarising mortgage and

                                real estate documents. As they are not paid for their work by

                                the Government, they charge fees for their services.<br> <br>

                                Notaries ensure that Documents are properly executed, imposters

                                and fraudsters are screened. <br /> <br /> <span class="bldtx1">Power

                                    of Attorney:</span> <br>A legal document with the help of

                                which, the owner of a property delegates the authority to manage

                                or take binding decisions to another person, with regard to such

                                property. <br /> <br /> <span class="bldtx1">Registration

                                    charges:</span> <br>Fees charged by the Registration

                                Authorities to register the Clear Title to a property in any

                                person's name. <br /> <br /> <span class="bldtx1">Real Estate

                                    Agent:</span> <br>A Person who is licensed by the State to

                                represent either the buyer or the seller in a real estate



                                transaction. They work on commission basis and their income

                                depends on finalizing a deal between the buyer and the seller. <br />

                                <br /> <span class="bldtx1">Sale Deed:</span> <br>It transfers

                                Clear Title for a certain property from a seller to a buyer. <br />

                                <br /> <span class="bldtx1">Stamp duty:</span> <br>It is the

                                Government of India's levy on all Real Estate Transactions. It

                                is levied either on the market value declared by the Government

                                or on the value of an agreement. <br /> <br /> <span class="bldtx1">Super Built up
                                    Area:</span> <br>Common areas

                                like corridors, stairs, lift and other such areas included with

                                the built up area comprises Super Built up Area. <br /> <br /> <span
                                    class="bldtx1">Security Deposit:</span> <br>Initial

                                part-payment while purchasing made in trust. It helps in holding

                                the seller from finding another prospective customer for his

                                property. Many times, such deposits are non-refundable. <br /> <br />

                                <span class="bldtx1">Tenant Negotiation:</span> <br>Discussions

                                held with the landlord regarding the rent and to try and get it

                                lowered. A real estate agent, owing to his experience, could

                                negotiate more effectively.<br> It could also be the tenant

                                trying to resolve disputes directly with the landlord regarding

                                specific issues instead of involving a lawyer. In case of badly

                                strained relations, negotiations could be held by a neutral



                                third party mediator. Negotiations should be focused on the

                                resolution of issues at hand.

                            </div>

                            <!-- Start Sidebar -->

                            <div class="sidebar right-sidebar col-md-3">
                                <% include includes/sidebar.ejs %>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- Start Site Footer -->
        <% include includes/footer.ejs %>

</body>

</html>