<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>
</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1>Information</h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-12">
                                <br />
                                <img alt="" src="<%= base_url%>/property-document-checklist.jpg" style="width: 100%">
                                <br />
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->



        <% include includes/footer.ejs %>

</body>

</html>