<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>
    <script type="text/javascript">

        function loadEligibility() {

            var loanAmount = $("input[name=loan_requirement_amount]").val(),
                netIncome = $("input[name=loan_eligibility_net_income]").val(),
                tenure = $("input[name=loan_eligibility_tenure]").val(),
                interest = $("input[name=loan_eligibility_interest]").val();

            if (!$.isNumeric(loanAmount) || !$.isNumeric(netIncome) || !$.isNumeric(tenure) || !$.isNumeric(interest)) {

                $('#loan_eligibility_response').html('<h5>Please Enter Numeric Values Only</h5>');

            }else {
                loadEligibilityCheck(loanAmount, netIncome, tenure, interest);
            }
        }

    </script>

</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1> Loan Eligibility Check </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->
        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-9">

                                <div class="row">

                                    <h3 class=""> Loan Eligibility Check</h3>
                                    <hr>

                                    <div class="col-md-6">

                                        <form onsubmit="return false;">
                                            <div class="padding-as25 margin-30 lgray-bg">

                                                <div class="row">

                                                    <div class="col-md-10 col-sm-10">

                                                        <label>Home Loan Required(INR)*</label>

                                                        <input type="text" name="loan_requirement_amount"
                                                            class="form-control" placeholder="Loan Required ( INR )"
                                                            required="required">

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-10 col-sm-10">

                                                        <label>Net Income Per Month* </label>
                                                        <p>(Excluding LTA and Medical allowances)</p>

                                                        <input type="text" name="loan_eligibility_net_income"
                                                            class="form-control" placeholder="Net income per month"
                                                            required="required">

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-10 col-sm-10">

                                                        <label>Loan Tenure ( Months )*</label>

                                                        <input type="text" name="loan_eligibility_tenure"
                                                            class="form-control" placeholder="Tenure ( Months ) "
                                                            required="required">

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-10 col-sm-10">

                                                        <label>Interest Rate(%)*</label>

                                                        <input type="text" name="loan_eligibility_interest"
                                                            class="form-control" placeholder="Interest Rate(%)"
                                                            required="required">

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-12 col-sm-5 padding-as25">

                                                        <button type="submit" name="submit"
                                                            class="btn btn-primary btn-lg"
                                                            onclick="loadEligibility()"><i class="fa fa-check"></i>
                                                            Check Eligibility</button>

                                                        <a href="<%= base_url %>home/loan_eligibility_check"
                                                            class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i>
                                                            Reset</a>

                                                    </div>

                                                </div>

                                            </div>



                                        </form>



                                    </div>



                                    <div class="col-md-5">

                                        <div class="padding-as25 margin-30">

                                            <div>

                                                <div class="row" id="loan_eligibility_response">



                                                </div>



                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- Start Sidebar -->

                            <div class="sidebar right-sidebar col-md-3">

                                <% include includes/sidebar.ejs %>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->



        <% include includes/footer.ejs %>



</body>

</html>