<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>

</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1> Required Documents for Loan </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-9">

                                Financial institutions require almost the same set of documents to process home loans
                                except

                                in some cases where applicants might be asked for some specific documents. <br /> <br />

                                Documents, usually required to process a loan application from the applicant and
                                co-applicant are: <br />

                                1) Proofs of a) Age, b) Address and c) Income, <br />

                                2) Bank statements for the previous 6 months, <br />

                                3) Un-attested photographs of the Applicant & Co-applicant <br />



                                <span class="bldtx1">In case of Salaried persons: </span>

                                <ul class="unordered">

                                    <li>Salary slip</li>

                                    <li>Form 16 A</li>

                                </ul>

                                Photocopies of:



                                <ul class="unordered">

                                    <li>first and last pages of Ration card </li>

                                </ul>

                                ( or )

                                <ul class="unordered">

                                    <li>PAN card or Telephone bill or Electricity bill</li>

                                    <li>Investments like, Fixed Deposit Certificates, Shares, fixed assets, etc.,</li>

                                </ul>

                                ( or )

                                <ul class="unordered">

                                    <li> any other documents which support the financial credentials of a borrower</li>

                                    <li> LIC Policies, if any, with Receipts of Premium paid last</li>

                                    <li> Photographs</li>

                                    <li> Bank statements for the preceding six months.</li>

                                </ul>

                                <span class="bldtx1"> In case of Self-Employed people or Businesspersons: </span> <br />

                                1) Brief description of Business/Profession. <br />

                                2) Balance Sheet, Profit and Loss account <br />

                                3) Statement of income with IT returns of the previous three years duly certified by a
                                Chartered Accountant <br />

                                4) Photocopy of the receipts of payment of Advance Tax (if applicable). <br />

                                5) Photocopy of Registration Certificate of establishment under shops and Establishments
                                Act/Factories Act. <br />

                                6) Photocopy of Registration Certificate for deduction of Profession Tax (if
                                applicable). <br />

                                7) Bank statements of Current and Saving accounts for the previous six months. <br />

                                8) Photocopy of Certificate of Practice (if applicable). <br />

                                9) Photocopies of bank loans, if any <br />

                                10) Photocopies of the first and last pages of the Ration card <br />

                                ( or ) <br />

                                a copy of PAN card or Telephone Bill or Electricity Bill <br />

                                11) Photocopies of LIC Policies, if any <br /><br />

                                <span class="bldtx1"> While purchasing a property from a builder: </span><br />

                                1) Copy of Agreement with the builder, in original<br />

                                2) 7/12 Extract<br />

                                ( or ) <br />

                                Property register card of the land under construction<br />

                                3) Index II extract of Agreement with the builder<br />

                                4) Copy of N.A. permission for the land from the District Collector.<br />

                                5) Search and Title Report for the last 30 years.<br />

                                6) Agreement for Development, between the land owner and the builder.<br />

                                7) Copy of Order under the Urban Land Ceiling Act.<br />

                                8) Copy of Sanction of building plans issued by competent authority.<br />

                                9) Commencement certificate granted by Corporation / Nagar Palika<br />

                                10) Building completion certificate, if any.<br />

                                11) Latest receipts of taxes paid, if any.<br />

                                12) Partnership Deed or Memorandum of Association of the Builder's firm.<br /><br />

                                <span class="bldtx1">While constructing on one's own land: </span><br />

                                1) Original sale deed of property/ plot (land) and extract of Index II.<br />

                                2) Extract or property register card in one's name.<br />

                                3) Copy of N.A. permission for land from the collector.<br />

                                4) Search and title report (with the details of documents) for the last 30 years.<br />

                                5) Copy of order under Urban Land Ceiling Act.<br />

                                6) Copy of the building plans sanctioned by competent authority.<br />

                                7) Building permission granted by Corporation / Nagar Palika.<br />

                                8) Receipts of taxes last paid.<br />

                                9) Estimate of construction costs, certified by an architect.<br /><br />
                                <span class="bldtx1">While purchasing a property in a Cooperative Society: </span><br />

                                1) Original share certificate of the society<br />

                                2) Allotment letter from the society in the borrowers name<br />

                                3) Copy of the lease deed, if executed<br />

                                4) Certificate of registration of the society<br />

                                5) Copy of the bylaws of the society<br />

                                6) No Objection Certificate from the Society 7/12 extract<br />

                                ( or ) <br />

                                Property register card in the society's name <br />

                                7) Copy of N.A permission for the land from the Collector<br />

                                8) Search and title report (with the details of documents) for the last 30 years<br />

                                9) Copy of order under the Urban Land Ceiling Act<br />

                                10) Copy of building plans sanctioned by the competent authority<br />

                                11) Commencement certificate granted by Corporation / Nagar Palika<br />

                                12) Receipts of taxes last paid<br />

                                13) Original Agreement to Assign or the Deed of Assignment.<br />
                            </div>
                            <!-- Start Sidebar -->
                            <div class="sidebar right-sidebar col-md-3">
                                <% include includes/sidebar.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Site Footer -->
        <% include includes/footer.ejs %>
</body>

</html>