<script type="text/javascript">

    function showAjaxModal(url, type) {
        var selectionArray = ['project_configurations', 'property_possession', 'city', 'locality', 'state', 'banks',
            'project_type', 'project_sub_type', 'property_type', 'property_sub_type', 'testimonial', 'partner',
            'popular_agents', 'price_trends','stocks'];

        if (selectionArray.includes(type)) {

        } else {
            $.ajax({
                url: url,
                success: function (response) {
                    if (response.success) {
                        var body = "";
                        if (type == 'project') {
                            body = processProjectDetails(response);
                        } else if (type == 'property') {
                            body = processPropertyPossessionDetails();
                        }
                        $('#modal_ajax .modal-body').html(body);
                    } else {
                        $('#modal_ajax .modal-body').html("No Details Available");
                    }
                }
            });
        }

        $('#modal_ajax').modal('show', {backdrop: 'true'});

    }

    function showAjaxModal1(url, type) {
        if (['property_possession'].includes(type)) {

        } else {
            $.ajax({
                url: url,
                success: function (response) {
                    if (response.success) {
                        var body = "";
                        console.log('welcome');
                        if (type == 'property') {
                            body = prepareDetailsResponse(response.data);
                        } else if (type == 'feedback') {
                            body = prepareFeedbackDetails(response.data);
                        } else if (type == 'post_requirement') {
                            body = preparePostRequirementDetails(response.data);
                        }
                        $('#modal_ajax1 .modal-body').html(body);
                    } else {
                        $('#modal_ajax1 .modal-body').html("No Details Available");
                    }

                }
            });
        }
        $('#modal_ajax1').modal('show', {backdrop: 'true'});
    }

    function prepareDetailsResponse(property) {
        var status = "Inactive"
        if (property.status) {
            status = "Active"
        }
        var datetime = new Date(property.datetime)
        var response = '<table class="table table-bordered">';
        response += '<tbody>';
        response += '<tr><td>Name</td><td>' + property.name + '</td></tr>'
        response += '<tr><td>Email</td><td>' + property.email + '</td></tr>'
        response += '<tr><td>Phone</td><td>' + property.phone + '</td></tr>'
        response += '<tr><td>Property Name</td><td>' + property.property_name + '</td></tr>'
        response += '<tr><td>Property Type</td><td>' + property.property_type_name + '</td></tr>'
        response += '<tr><td>Property Sub Type</td><td>' + property.property_sub_type_name + '</td></tr>'
        response += '<tr><td>Facing</td><td>' + property.facing + '</td></tr>';
        if (property.property_type == '1' || property.property_sub_type == '14') {
            response += '<tr><td>Bedrooms</td><td>' + property.bedrooms + '</td></tr>'
            response += '<tr><td>Bathrooms</td><td>' + property.bathrooms + '</td></tr>'
        }

        response += '<tr><td>City</td><td>' + property.city_name + '</td></tr>'
        response += '<tr><td>Locality</td><td>' + property.locality_name + '</td></tr>'
        response += '<tr><td>Status</td><td>' + status + '</td></tr>'
        response += '<tr><td>Floors</td><td>' + property.floors + '</td></tr>'
        response += '<tr><td>Floor No</td><td>' + property.floor_no + '</td></tr>'
        response += '<tr><td>Car Parking</td><td>' + property.car_parking + '</td></tr>'
        response += '<tr><td>Saleable Area</td><td>' + property.saleable_area + '</td></tr>'
        response += '<tr><td>Price</td><td>' + property.quoted_price + '</td></tr>'
        response += '<tr><td>Construction Age</td><td>' + property.construction_age + '</td></tr>'
        response += '<tr><td>Open Slides</td><td>' + (property.open_slides || '') + '</td></tr>'
        response += '<tr><td>Width</td><td>' + (property.width || '') + '</td></tr>'
        response += '<tr><td>Construction Done</td><td>' + (property.construction_done || '') + '</td></tr>'
        response += '<tr><td>Boundary Wall</td><td>' + (property.boundary_wall ? 'Yes' : 'No') + '</td></tr>'
        response += '<tr><td>Gated Community</td><td>' + (property.gated_colony ? 'Yes' : 'No') + '</td></tr>'
        response += '<tr><td>Dimensions</td><td>' + 'East : ' + property.east + ', West : ' + property.west + ', North : ' + property.north + ', South : ' + property.south + '</td></tr>'
        if (property.possesion_date) {
            var possessionDate = new Date(property.possesion_date)
            response += '<tr><td>Email</td><td>' + possessionDate.getDate() + ' ' + (possessionDate.getMonth() + 1) + ' ' + possessionDate.getFullYear() + '</td></tr>'
        }
        response += '<tr><td>Furnishing Status</td><td>' + property.furnishing_status + '</td></tr>'
        response += '<tr><td>Posted By</td><td>' + property.posted_by + '</td></tr>'
        response += '<tr><td>Amenities</td><td>' + getAmenities(property.amenities_list) + '</td></tr>'
        response += '<tr><td>Property Added On:</td><td>' + datetime.getDate() + ' ' + (datetime.getMonth() + 1) + ' ' + datetime.getFullYear() + '</td></tr>'
        response += '<tr><td>Description</td><td>' + property.description + '</td></tr>'
        response += '</tbody></table>'
        return response
    }

    function getAmenities(amenitiesList) {
        return getStringFromList(amenitiesList, 'amenity')
    }

    function getBanks(banksList) {
        return getStringFromList(banksList, 'bank_name')
    }

    function getStringFromList(list, parameter) {
        var returnString = ''
        list.forEach(function (listRow, index) {
            if (index != 0) {
                returnString += ','
            }
            returnString += listRow[parameter]
        })
        return returnString
    }

    function getDate(date) {
        if (date) {
            var dateVariable = new Date(date);
            return dateVariable.getDate() + '/' + (dateVariable.getMonth() + 1) + '/' + dateVariable.getFullYear()
        } else {
            return 'Date not available'
        }
    }

    function processProjectDetails(response) {
        var projectDetails = response.data;
        var amenitiesList = getAmenities(projectDetails.amenities_list);
        var banksList = getBanks(projectDetails.banks_list);
        var response = ""
        if (projectDetails) {
            response = '<table class="table table-bordered">';
            response += '<tbody>';
            response += '<tr><td>Name</td><td>' + projectDetails.name + '</td></tr>'
            response += '<tr><td>Email</td><td>' + projectDetails.email + '</td></tr>'
            response += '<tr><td>Phone</td><td>' + projectDetails.mobile + '</td></tr>'
            response += '<tr><td>Project Name</td><td>' + projectDetails.project_name + '</td></tr>'
            response += '<tr><td>Project Type</td><td>' + projectDetails.project_type_name + '</td></tr>'
            response += '<tr><td>Project SubType</td><td>' + projectDetails.project_sub_type_name + '</td></tr>'
            response += '<tr><td>Group Name</td><td>' + projectDetails.group_name + '</td></tr>'
            response += '<tr><td>Posted By</td><td>' + projectDetails.posted_by + '</td></tr>'
            response += '<tr><td>City</td><td>' + projectDetails.city_name + '</td></tr>'
            response += '<tr><td>Locality</td><td>' + projectDetails.locality_name + '</td></tr>'
            response += '<tr><td>Status</td><td>' + projectDetails.status + '</td></tr>'
            response += '<tr><td>Launch Date</td><td>' + getDate(projectDetails.launch_date) + '</td></tr>'
            response += '<tr><td>Possession Date</td><td>' + getDate(projectDetails.possession_date) + '</td></tr>'
            response += '<tr><td>No of Buildings</td><td>' + projectDetails.no_of_buildings + '</td></tr>'
            response += '<tr><td>No of Floors</td><td>' + projectDetails.no_of_floors + '</td></tr>'
            response += '<tr><td>Total Area</td><td>' + projectDetails.total_area + '</td></tr>'
            response += '<tr><td>Total Units</td><td>' + projectDetails.total_units + '</td></tr>'
            response += '<tr><td>Plans</td><td>' + projectDetails.plans + ' BHK</td></tr>'
            response += '<tr><td>Min Builtup Area</td><td>' + projectDetails.min_builtup_area + '</td></tr>'
            response += '<tr><td>Max Builtup Area</td><td>' + projectDetails.max_builtup_area + '</td></tr>'
            response += '<tr><td>Price</td><td>' + 'Range' + '</td></tr>'
            response += '<tr><td>Maintenance</td><td>' + (projectDetails.maintenance_charge || 'No Data Available') + '</td></tr>'
            response += '<tr><td>Floor Rise</td><td>' + (projectDetails.floor_rise || 'No Data Available') + '</td></tr>'
            response += '<tr><td>Commencement</td><td>' + projectDetails.commencement + '</td></tr>'
            response += '<tr><td>Approved Banks</td><td>' + banksList + '</td></tr>'
            response += '<tr><td>Amenities</td><td>' + amenitiesList + '</td></tr>'
            response += '<tr><td>Project Added</td><td>' + getDate(projectDetails.datetime) + '</td></tr>'
            response += '<tr><td>Description</td><td>' + projectDetails.description + '</td></tr>'
            response += '</tbody></table>';

        } else {
            response = "No Details Available"
        }
        return response
    }

    function prepareFeedbackDetails(data) {
        var response = "";
        if (data) {
            response += '<table class="table table-bordered"><tbody>' +
                '<tr><td>User Type</td><td>' + data.user_type + '</td></tr>' +
                '<tr><td>Name</td><td>' + data.name + '</td></tr>' +
                '<tr><td>Email</td><td>' + data.email + '</td></tr>' +
                '<tr><td>Phone</td><td>' + data.phone + '</td></tr>' +
                '<tr><td>City</td><td>' + data.city + '</td></tr>' +
                '<tr><td>Topic</td><td>' + data.topic + '</td></tr>' +
                '<tr><td>Recommendation</td><td>' + data.recommendation + '</td></tr>  ' +
                '<tr><td>Satisfaction</td><td>' + data.satisifaction + '</td></tr>' +
                '<tr><td>Description</td><td>' + data.description + '</td></tr>' +
                '<tr><td>Recieved On</td><td>' + getDate(data.datetime) + '</td></tr>' +
                '</tbody>' +
                '</table>';
        } else {
            response = "Data not available right now!";
        }
        return response;
    }

    function processPropertyPossessionDetails() {
        return "<h1>Property Details</h1>"
    }

    function preparePostRequirementDetails(data) {
        var response = "";
        if (data) {
            response += '<table class="table table-bordered"><tbody>' +
                '<tr><td>Name</td><td>' + data.name + '</td></tr>' +
                '<tr><td>Email</td><td>' + data.email + '</td></tr>' +
                '<tr><td>Phone</td><td>' + data.phone + '</td></tr>' +
                '<tr><td>Type</td><td>' + data.type + '</td></tr>' +
                '<tr><td>Property Type</td><td>' + data.property_type_name + '</td></tr>' +
                '<tr><td>Property Sub Type</td><td>' + data.property_sub_type_name + '</td></tr>' +
                '<tr><td>City</td><td>' + data.city_name + '</td></tr>' +
                '<tr><td>Locality</td><td>' + data.locality_name + '</td></tr>' +
                '<tr><td>Min Price</td><td>' + data.min_price + '</td></tr>  ' +
                '<tr><td>Max Price</td><td>' + data.max_price + '</td></tr>' +
                '<tr><td>Min Area</td><td>' + data.min_area + '</td></tr>' +
                '<tr><td>Max Area</td><td>' + data.max_area + '</td></tr>' +
                '<tr><td>Available Time</td><td>' + data.available_time + '</td></tr>' +
                '<tr><td>Duration</td><td>' + data.duration + '</td></tr>' +
                '<tr><td>Requirement Posted On</td><td>' + getDate(data.datetime) + '</td></tr>' +
                '</tbody>' +
                '</table>';
        } else {
            response = "Data not available right now!";
        }
        return response;
    }

</script>