.project_details_main_page {

  .powered_by {
    background-color: $lightGray;
    text-align: center;
    padding: 3px 0px 3px 0px;

    a {
      color: $red;
      font-size: 17px;
    }
  }
  .project_details {

  }
}
