.project-details-page {

  .sidenav {
    position: fixed;
    z-index: 1;
    top: 180px;
    left: 0;
    // overflow-x: hidden;
    // padding-top: 20px;

    ul {
      li {
        margin-bottom: 2px;
        background-color: $black;
        opacity: 0.8;
        @include font($color: $white, $size: 10px);
        padding: 2px 5px 5px 5px;
        i {
          padding-left: 15px;
        }
        .name {
          text-align: center;
          @include font($size: 12px);
        }
      }
    }
  }

  .powered-by {
    background-color: $lightGray;
    text-align: center;
    padding: 3px 0px 3px 0px;

    a {
      color: $red;
      font-size: 17px;
    }
  }

  .project-header {
    height: 70px;
    padding: 10px 0px 0px 0px;
    background-color: $projectHeaderBGColor;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    .builder-name {
      @include font(20px, $black, bold);
      @include align-content-to-center;
      height: 50px;
      overflow: hidden;
      text-align: center;
      padding-left: 30px !important;
      padding-right: 20px;
      word-wrap: break-word;
      text-transform: uppercase;
    }

    &-details {
      @include align-content-to-center;
      justify-content: left;
      height: 50px;
      border-left: 1px solid $gray67;

      .description {
        @include font($size: 20px, $color: $black, $weight: normal);
      }

      .specifications {
        margin-top: 5px;
        @include font($size: 15px);

        span {
          @include font($color: $tealBlue);
        }
      }
    }

    .quick-links {
      height: 50px;
      @include align-content-to-center;
      justify-content: flex-end !important;

      span {
        @include font($size: 20px);
      }

      a {
        @include font($color: $black);
      }
    }

    .image-container {
      margin-top: 10px;
      height: 600px;

      .image {
        height: 600px;

        img {
          min-height: 100%;
          min-width: 100%;
          height: 100%;
          width: 100%;
          //object-fit: contain;
        }
      }
    }
  }

  .project-details {
    .sub-heading {
      @include font($color: $tealBlue, $weight: bold);
      border-bottom: 1px solid $subHeadingBorderColor;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .overview {
      .rera {
        margin-top: 20px;
        margin-bottom: 20px;

        ul {
          li {
            display: inline-block;
            padding: 2px 7px 2px;
            display: table-cell;
            font-size: 11px;
            text-align: center;
            border: 1px solid $tealBlue;
            border-left: none;

            &:first-child {
              background-color: $tealBlue;
              color: $white;
            }
          }
        }
      }

      .overview-iconlist {
        li {
          float: left;
          width: 33%;
          height: 90px;

          .overview-icon {
            float: left;
            font-size: 40px;
            font-weight: 300px !important;
            margin: 10px 20px 0px 10px;
          }

          .overview-details {
            float: left;
            padding-top: 12px;
            @include font($size: 15px, $weight: 500);

            b {
              // padding-top: 2px;
              @include font($color: $tealBlue);
            }

            // display: inline-block;
          }

        }
      }
    }

    .floor-plan {
      .floor-plan-table {
        thead {
          background-color: $tealBlue;
          color: $white;

          th {
            padding: 13px;
            border: 1px solid $white;
          }
        }

        tbody {
          tr:nth-child(1) {
            background-color: $stripedTableBG1;
          }

          tr:nth-child(2) {
            background-color: $stripedTableBG2;
          }

          td {
            padding: 13px;
            border: 1px solid $white;
          }
        }
      }
    }

    .amenities {
      color: $gray;
      padding-left: 3px;

      li {
        width: 19.5%;
        display: inline-block;
        text-align: center;

        .amenity-icon {
          font-size: 40px;
          margin-bottom: 10px;
        }

        .amenity-name {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 10px;
        }
      }
    }

    .specifications {

      ul,
      ol {
        margin-left: 20px;
        list-style: inherit !important;
      }
    }

    .gallery {
      li {
        display: inline-block;

        img {
          width: 300px;
          height: 250px;
          cursor: pointer;
        }

        span {
          display: block;
          padding: 12px;
          text-transform: uppercase;
          background-color: $lightBlack;
          @include font($size: 15px, $color: $white, $weight: bold);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .project-details-page {
    .project-header {
      .builder-name {
        height: 30px;
        padding-right: 30px;
      }

      &-details {
        border-left: 0px solid $transparent !important;

        .description,
        .specifications {
          margin-top: 15px;
          text-align: center;
        }
      }

      .image-container {
        margin-top: 10px;
      }
    }

    .project-details {
      .amenities {

        li {
          width: 24% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .project-details-page {
    .project-header {
      .builder-name {
        @include align-content-to-center;
      }

      &-details {}

      .quick-links {
        height: 30px;
        padding-top: 10px;

      }
    }
  }
}