
// property_details
.property_overview_container {
  background-color: $darkBlue;

  .property_overview {
    .display_image {
      background-color: $white;
    }
    .property_overview_details {
      width: calc(100% - 420px);
      height: 285px;
    }
    .property_specifications {

    }
  }
}
.disclaimer {
  p {
    color: $gray;
    text-align: justify;
    text-justify: inter-word;
  }
}
.property_details {
  & &_description {
    color: $gray;
    font-size: large;
  }
  & &_list {
    color: $gray;
    border-top: 1px solid $silver;
    li {
      padding: 10px;
      border-bottom: 1px solid $silver;
      .list_label {
        width: 30%;
      }
      .list_content {
        width: 67%;
        color: black;
      }
      &:last-child {
        border-bottom: 0px solid transparent;
      }
    }
  }
  & &_amenities {
    color: $gray;
    padding-left: 3px;
    li {
      width: 24.5%;
      display: inline-block;
      text-align: center;
    }
  }

}
.enquiryform {
  margin-left: 20px;
}